<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Contact us</title>
</head>

<body>
	<h3> Contact Us </h3>
	<header>
		<nav>
			<ul>
				<li> <a href="./">Home</a> </li>
				<li> <a href="./about">About</a> </li>
				<li> <a href="./contactus">Contactus</a> </li>
				<li> <a href="./users">Users</a> </li>
				<li> <a href="./api/users">Users api</a> </li>
			</ul>
		</nav>
	</header>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsam necessitatibus, atque perferendis enim
		magnam illum exercitationem omnis animi totam minus dolor alias consectetur aliquam! Impedit assumenda vel
		sapiente iusto!</p>
</body>

</html>