<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Users</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="./">Blog</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"> <a class="nav-link" href="./">Posts</a> </li>
					<li class="nav-item"> <a class="nav-link" href="./about">About</a> </li>
					<li class="nav-item"> <a class="nav-link" href="./contactus">Contactus</a> </li>
					<li class="nav-item"> <a class="nav-link" href="./users">Users</a> </li>
					<li class="nav-item"> <a class="nav-link" href="./api/users">Users api</a> </li>
				</ul>
				<div class="form-inline">
					<a class="nav-link" href="./logout">Logout</a>
				</div>
			</div>
		</nav>
	</header>
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h3>Add User:</h3>

				<form action="./users" method="post">
					<label for="userId"> Email </label> <input type="text" name="email" />
					<label for="userName"> User name </label> <input type="text" name="username" />
					<label for="userCity"> Password </label> <input type="text" name="password" />
					<input type="submit" value="submit" />
				</form>

				<hr />
				<h3>Users List:</h3>

				<div>
					<table class="table">
						<thead>
							<th>Email</th>
							<th> User Name </th>
							<th>Password</th>
						</thead>
						<tr th:each="user:${users}">
							<td th:text="${user.email}"> </td>
							<td th:text="${user.username}"> </td>
							<td th:text="${user.password}"> </td>
						</tr>
					</table>
				</div>

				<!-- Test markups -->
				<div id="app"> {{data}} </div>
				<div id="app-7">
					<ol>
						<todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
					</ol>
				</div>
				<!-- Test markups end -->
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- <script src="/assets/js/script.js"></script> -->
	<script>
		Vue.component('todo-item', {
			props: ['todo'],
			template: '<li>{{ todo.text }}</li>'
		})

		new Vue({
			el: '#app',
			data() {
				return {
					data: null
				}
			},
			mounted() {
				axios
					.get('https://springmvc-app-ranjit.herokuapp.com/api/users')
					.then(response => (this.data = response))
			}
		})

		// var app7 = new Vue({
		// 	el: '#app-7',
		// 	data: {
		// 		groceryList: [
		// 			{ id: 0, text: 'Vegetables' },
		// 			{ id: 1, text: 'Cheese' },
		// 			{ id: 2, text: 'Whatever else humans are supposed to eat' }
		// 		]
		// 	}
		// })
	</script>
</body>

</html>